<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello Guyss..</h1>
    <h2>Name: <%=name%></h2>
    <p>Age: <%=age%></p>
    <p>Address: <%=address%></p>
    <!-- <p>Hobbies: <%=hobbies%></p> -->
    <% for (let i = 0; i< hobbies.length; i++) { %>   // For Loop
         <li><%=hobbies[i]%></li>
         <% } %>
    
</body>
</html>